<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/author.jpg" alt="author.jpg"/>
    </div>
    <div class="panel-body">
        解释过去，预测未来。
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="weibo"><a href="http://weibo.com/u/5106974709" alt="新浪微博" target="_blank"><i class="fa fa-weibo"></i></a></li>
            <li class="github"><a href="https://github.com/LUYUJIA" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/lu.yujia.507" alt="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="订阅" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
